@font-face {
  font-family: 'oswald';
  src: url('oswald-light-webfont.woff2') format('woff2'),
       url('oswald-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'oswald';
  src: url('oswald-regular-webfont.woff2') format('woff2'),
       url('oswald-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'oswald';
  src: url('oswald-medium-webfont.woff2') format('woff2'),
       url('oswald-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'oswald';
  src: url('oswald-bold-webfont.woff2') format('woff2'),
       url('oswald-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'oswald', sans-serif;
  overflow-y: auto;
}

:root {
  --color-back-footer: #252525;
  --color-blue: #0052C1;
  --color-for-dark: #FFFFFF;
  --color-priority: #4CAF50;
  --color-yellow: #FAB63E;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-style: normal;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.container {
  padding: 68px 150px;
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: var(--color-for-dark);
}

/* header  */

.hero {
  height: 904px;
  background-image: url('../images/hero_img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero__container {
  padding-top: 164px;
  padding-bottom: 75px;
}

/* .hero__wrap {
  max-width: 469px;
} */
.hero__list {
  display: flex;
}

.hero__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.94px;
  color: var(--color-for-dark);
}

.hero__item:not(:last-child) {
  margin-right: 58px;
}

.hero__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  letter-spacing: 4.608px;
  color: var(--color-for-dark);
}

.hero__text {
  font-family: 'OpenSans';
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.28px;
  color: var(--color-for-dark);
  opacity: 0.8;
}

/* footer */
.footer {
  background-color: var(--color-back-footer);
}

.footer__container {
  text-align: center;
}

.footer__span {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.832px;
  color: var(--color-for-dark);
  opacity: 0.5;
}

/* we  */